.it-MdContent h1 {
  color: #b35454;
  /*border-bottom-color: #ff7878 !important;*/
}

.it-MdContent h2 {
  color: #b08455;
  /*border-bottom-color: #ffa540 !important;*/
}

.it-MdContent h3 {
  color: #868642;
}

.it-MdContent h4 {
  color: #326732;
}

.it-MdContent h5 {
  color: #3a7272;
}

.it-MdContent h6 {
  color: #505099;
}

